{% load staticfiles %}
<script src="{% static 'js/podaci/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/podaci/lightbox.min.js' %}"></script>
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet" />

<div class="image-set">
    <a id= "clicck" style="display:none;" href="{% static 'img/demopage/4.jpg' %}" data-lightbox="roadtrip">Image #1</a>
    <a style="display:none;" href="{% static 'img/demopage/2.jpg' %}" data- lightbox="roadtrip">Image #2</a>
    <a style="display:none;"  href="{% static 'img/demopage/3.jpg' %}" data-lightbox="roadtrip">Image #3</a>
    <a style="display:none;" href="{% static 'img/demopage/1.jpg' %}" data-lightbox="roadtrip">Image #4</a>
    <a style="display:none;" href="{% static 'img/demopage/5.jpg' %}" data-lightbox="roadtrip">Image #4</a>
    <a style="display:none;" href="{% static 'img/demopage/6.jpg' %}" data-lightbox="roadtrip">Image #6</a>
    <a style="display:none;" href="{% static 'img/demopage/7.jpg' %}" data-lightbox="roadtrip">Image #7</a>
    <a style="display:none;" href="{% static 'img/demopage/8.jpg' %}" data-lightbox="roadtrip">Image #8</a>
    <a style="display:none;" href="{% static 'img/demopage/9.jpg' %}" data-lightbox="roadtrip">Image #9</a>
    <a style="display:none;" href="{% static 'img/demopage/10.jpg' %}" data-lightbox="roadtrip">Image #10</a>
    <a style="display:none;" href="{% static 'img/demopage/11.jpg' %}" data-lightbox="roadtrip">Image #11</a>
    <a style="display:none;" href="{% static 'img/demopage/12.jpg' %}" data-lightbox="roadtrip">Image #12</a>
    <a style="display:none;" href="{% static 'img/demopage/13.jpg' %}" data-lightbox="roadtrip">Image #13</a>
    <a style="display:none;" href="{% static 'img/demopage/14.jpg' %}" data-lightbox="roadtrip">Image #14</a>
</div>
 <!-- @TODO dodati prave slike -->
