{% extends "base.html" %}
{% block content %}
    <h1> Prikupljanje podataka <h1>
    <p> Prikupljanje podataka je dugotrajanj proces zato u sklopu aplikacije nije moguće samostalno pokrenuti potpunu obnovu. Ako ste korisnik aplikacije imate mogućnost ciljane obnove ili obnove podataka prema zadnjim poznatim rezultatima.
    </p>
    <p> Ako ste admin korisnika i imate pritsup kodu onda možete pokrenuti potpuni postuplak pomoću skripti koje su vam dane na raspolaganje.
    Svakao treba imati na umu da postupak potpune obnove može potrajati nekoliko sati.</p>
{% endblock %}
